
.consoleEvents {    
    color: #00CC00;
}

.consoleEvents span {
	padding: 0 0 0 10px;
}

.consoleEvents .severityMINOR {
	color: #00CC00;
}

.consoleEvents .severityMAJOR {
    color: yellow;	
}

.consoleEvents .severityCRITICAL {
    color: red;
}